.todoBox {
  display: flex;
  justify-content: center;
}
.todoList {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 15px;
  background-color: #fff;
  opacity: 0.7;
  width: 30vw;
  height: 60vh;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px #514e4e;
}

.inputSection {
  display: flex;
}

.todoInput {
  border: none;
  text-align: center;
  height: 100%;
}

.todoInput:focus {
  outline: none;
}
.todoInput:focus::placeholder {
  color: transparent;
}

.lists {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: scroll;
  margin-top: 10px;
}

.todoli {
  word-wrap: break-word;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 70%;
  align-self: center;
}

.todo {
  flex: 1;
  word-wrap: break-word;
  margin-left: 10px;
}

.todo .checked {
  text-decoration: line-through;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.likeButton {
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #31364e;
  color: #fff;
  border: 0;
  font-size: 0.7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  display: flex;
}

.likeButton:active {
  transform: scale(1.01);
}
